:root{
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    
    background-color: #EDF2F8;
}

html{
    
    scroll-behavior: smooth;
}



.testimonials-container{
    padding: 50px 20px;
    display: grid;
    justify-content: center;
    gap: 30PX;
}

.testimonial-card{
    padding: 30px 30px;
    border-radius: 15px;
    min-height: 350px;
    max-width: 1000px;
}

.testimonial-card p{
    color: var(--light-grayish-blue);
    margin-bottom: 5px;
}

.testimonial-card span{
    color: var(--light-grayish-blue);
    opacity: 50%;
}

.testimonial-card img{
    width: 60px;
    border-radius: 50%;
    border: 5px solid var(--light-grayish-blue);
}

.testimonial-upper{
    display: flex;
    align-items: center;
    gap: 15px;
}

.testimonial-lower h2{
    color: var(--white);
    margin: 25px 0;
    line-height: 1.2em;
    font-size: 1.5em;
}

.testimonial-lower p{
    opacity: 70%;
    line-height: 1.6em;
    font-size: 0.9em;
    font-weight: 600;
}

.card-one{
    background-color: var(--moderate-violet);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 5px right 10px;
}

.card-two{
    background-color: var(--very-dark-grayish-blue);   
}

.card-three, .card-five{
    background-color: var(--white);   
}

.card-three .testimonial-upper p, .card-five .testimonial-upper p{
    color: var(--very-dark-blackish-blue); 
}

.card-three .testimonial-upper span, .card-five .testimonial-upper span{
    color: var(--very-dark-blackish-blue); 
    opacity: 70%;
}

.card-three .testimonial-lower h2, .card-five .testimonial-lower h2{
    color: var(--very-dark-grayish-blue);
}

.card-three .testimonial-lower p, .card-five .testimonial-lower p{
    color: var(--very-dark-grayish-blue);
}

.card-four{
    background-color: var(--very-dark-blackish-blue);   
}

.card-four .testimonial-upper{
    color: var(--light-grayish-blue);
}


@media screen and (min-width: 1300px) {
    .testimonials-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 350px;
        justify-content: stretch;
        margin: auto;
    }

    .card-one{
        grid-row: 1;
        grid-column: span 2;
    }
    .card-two{
        grid-row: 1;
        grid-column: span 1;
    }

    .card-three{
       grid-column: 1;
       grid-row: 2;
    }

    .card-four{
        grid-column: span 2;
        grid-row: 2;
     }

     .card-five{
        grid-row: span 2;
     }
}





.attribution{
    text-align: center;
}

